@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

main{
	font-family:'Arial','sans-serif';
}

@import url('https://fonts.googleapis.com/css?family=PT+Sans');

@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif');

@import url('https://fonts.googleapis.com/css?family=Inconsolata');

@import url('https://fonts.googleapis.com/css?family=Rambla');

@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

@import url('https://fonts.googleapis.com/css?family=Bree+Serif');


h1{
    font-family: monospace, 'sans-serif';
    font-weight: 100;
    font-size: 18px;
    font-weight: 700;
    
}
h2{
    font-family: 'Inconsolata', monospace, 'sans-serif';
    font-weight: 100;
    font-size: 16px;
    font-weight: 450;
    color: rgb(205, 175, 154);
}

#name{
    font-family: 'Inconsolata', monospace, 'sans-serif';
    font-weight: 100;
}

#nickname{
    font-family: 'Inconsolata', monospace, 'sans-serif';
    font-weight: 600;
}

#post{
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    color: rgb(13, 154, 133);
}

#about{
    font-family: 'Bree Serif', serif;
}

#adresse{
    font-family: 'Rambla', 'sana-serif';
}

#numero{
     font-family: 'Rambla', 'sana-serif';
}

#mail{
     font-family: 'Rambla', 'Fira Sans', 'sana-serif';
}

.forme_diplome{
     font-family: 'Inconsolata', monospace;
     font-weight: 800;
     font-size: 1.1em;
     color: rgb(13, 154, 133);
}

.forme_date_diplome{
    font-family: 'Fira Sans', sans-serif;
    font-size: 0.9em;
}

.forme_etablissement{
    font-family: Inconsolata, monospace;
    font-weight: normal;
}

.description{
    font-family: 'PT Sans', 'monospace';
    font-size: 0.8em
    font-weight: normal;
}


.forme_exp{
     font-family: 'Inconsolata', monospace;
     font-weight: 800;
     font-size: 1.1em;
}

.date_exp{
     font-family: 'Fira Sans', sans-serif;
     font-size: 0.9em;
}

.forme_etablissement{
     font-family: 'Inconsolata', Rambla;
     text-decoration: underline;
     
}

.describ_poste{
     font-family: 'Inconsolata', Rambla;
     
}



